@import "../../style/abstract";
@import "../../style/base";
@import "../../style/layouts";

.word__word {
  display: flex;
  gap: 25px;
}
.word__meaning {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.word__example {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.word {
  display: flex;
  flex-direction: column;
}

.words {
  max-width: 550px; 
}
.word__image {
  max-width: 100%;
}