@import "../../style/abstract";
@import "../../style/base";
@import "../../style/layouts";

.textbook {
  display: flex;
  justify-content: center;
}
.sections {
  margin-left: auto;
}
.sections {
  margin-top: 105px;
  margin-left: 25px;
  align-self: start;
  position: sticky;
  top: 50px;
}

.sections__section:hover {
  background-color: $light-bg-color;
  transition: .3s;
  cursor: pointer;
}

.sections__section {
  font-size: 32px;
  padding: 15px 25px;
  //$main-bg-color: rgb(86, 86, 166);
  //$light-bg-color:rgb(201, 201, 246);
  //$light-color: rgb(201, 201, 246);

  border: 3px solid $light-color;
  border-radius: 15px;
  display: block;
  margin-bottom: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  list-style: none;
  margin: 5px;
  cursor: pointer;
  transition: .3s;

}

.pagination li a {
  border: 2px solid $main-bg-color;
  color: black;
  border-radius: 5px;
  padding: 5px 8px;

}

.pagination li.selected a {
  background-color: rgba(0, 85, 255, 0.491);
}

.pagination li:hover {
  opacity: .7;
  transition: .3s;
}

.pagination li.selected {
  color: rgb(29, 24, 24);

}

.pagination li.selected:hover {
  opacity: 1;
}

.sections__section.--active {
  background-color: $light-bg-color;
  transition: .3s;
}