@import "../../style/abstract";
@import "../../style/base";
@import "../../style/layouts";

.menu {
   background-color: $main-bg-color;
   font-size: 2rem;
    gap: 10px;
    & li {
      list-style-type: none;
    }
    & ul {
      display: flex;
      justify-content: center;
      //margin-left: 0;
      //padding-left: 0;
    }
  
}
.menu__item {
  display: block;  
  padding: 5 px;
  margin: 5px 20px;
  text-align: center;
  color: $light-color;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);  
  }  
}
.menu__logout{
 font-size: 1.6rem;
 
}
.content {
  width: 100%;
  height: calc(100vh - $header-height - $menu-height);
}
.menu__list{
  margin: 0 auto;
}
