//colors
$main-bg-color: rgb(86, 86, 166);
$light-bg-color:rgb(201, 201, 246);
$light-color: rgb(201, 201, 246);
$text-color: #ffffff;
$bg-transparent: rgba(255, 255, 255, 0.1);

//constants

$max-width-desktop: 1280px;
$header-height: 100px;
$footer-height: 60px;
