@import "../../style/abstract";
@import "../../style/base";
@import "../../style/layouts";

.statistics {
  color: $dark-color;
  background: -webkit-radial-gradient(top left, #c1c1f966 30%, #5656A6);
  //background: -moz-radial-gradient(top left, #B8B8ED, #5656A6);
  min-height: $min-content-height; 
  &__wrapper{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  h1, h2, h3{
    text-align: center;
  }
  h1, h2{
    margin: 20px auto;
  }
  h3{
    font-weight: 400;
  }

  
}
.no-statistics{
  color: $light-color;
  font-size: 3rem;
  text-shadow: 0.2rem 0.2rem 3rem $main-bg-color;
}
.gamestats-container{
  padding: 20px;
  display: flex;
  @include media-mobile{
    flex-direction: column;
  }
}



